[submodule "readium-sdk"]
	path = readium-sdk
	url = https://github.com/ThePalaceProject/mobile-readium-sdk
[submodule "readium-shared-js"]
	path = readium-shared-js
	url = https://github.com/readium/readium-shared-js.git
[submodule "tenprintcover-ios"]
	path = tenprintcover-ios
	url = https://github.com/NYPL/tenprintcover-ios.git
[submodule "adept-ios"]
	path = adept-ios
	url = git@github.com:ThePalaceProject/ios-drm-adobe.git
[submodule "adobe-content-filter"]
	path = adobe-content-filter
	url = git@github.com:ThePalaceProject/mobile-adobe-content-filter.git
[submodule "Simplified-Bookmarks-Spec"]
	path = Simplified-Bookmarks-Spec
	url = https://github.com/NYPL-Simplified/Simplified-Bookmarks-Spec.git
