.DS_Store
*.xccheckout
xcuserdata
Pods
DerivedData
.idea
.vscode
Build
adobe-rmsdk
**/ReaderClientCert.sig
**/APIKeys.swift
Carthage*
**/TPPSecrets.swift
**/GoogleService-Info.plist
fastlane/report.xml
fastlane/*_output
Palace.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Palace.xcodeproj/xcshareddata/xcschemes/Palace.xcscheme
*.xcresult
