[submodule "readium-sdk"]
	path = readium-sdk
	url = git@github.com:ThePalaceProject/mobile-readium-sdk
[submodule "readium-shared-js"]
	path = readium-shared-js
	url = git@github.com:readium/readium-shared-js.git
[submodule "ios-tenprintcover"]
	path = ios-tenprintcover
	url = git@github.com:ThePalaceProject/ios-tenprintcover.git
[submodule "adept-ios"]
	path = adept-ios
	url = git@github.com:ThePalaceProject/ios-drm-adobe.git
[submodule "adobe-content-filter"]
	path = adobe-content-filter
	url = git@github.com:ThePalaceProject/mobile-adobe-content-filter.git
[submodule "mobile-bookmark-spec"]
	path = mobile-bookmark-spec
	url = git@github.com:ThePalaceProject/mobile-bookmark-spec.git
[submodule "ios-drm-audioengine"]
	path = ios-drm-audioengine
	url = git@github.com:ThePalaceProject/ios-drm-audioengine.git
[submodule "ios-audiobook-overdrive"]
	path = ios-audiobook-overdrive
	url = git@github.com:ThePalaceProject/ios-audiobook-overdrive.git
[submodule "ios-audiobooktoolkit"]
	path = ios-audiobooktoolkit
	url = https://github.com/ThePalaceProject/ios-audiobooktoolkit.git
	branch = task/support-iosaudiobooktoolkit-submodule